<% @listings.each do |list| %>
    <div class="list" style="border: 1px solid black">
        <div class="list-title">
            <span><%= list.name %></span>
            &middot;
            <span><%= list.place_type %></span>
        </div>
        <div class="list-info">
            <span><%= list.property_type %></span>
            &middot;
            <span><%= list.country %></span>
            &middot;
            <span><%= list.state %></span>
        </div>
        <div class="list-pricing">
            <span><%= list.price %></span>
            &middot;
            <span><%= list.description %></span>
        </div>
        <div class="list-link">
            <%= link_to "View details", listing_path(list) %>
        </div>
    </div>
<% end %>