<% content_for :head do %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<% end %>

<!-- JS file -->
<% content_for :js do %>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="app/assets/javascripts/listings/filter"></script> -->
    <%= javascript_include_tag 'listings/filter' %>
<% end %>

<!-- filter option: place_type, property_type, price, bed number, room number, amenities, kitchen -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <%= form_for @listing_search, url: search_listings_path, method: :get do |form| %>
        <%= hidden_field_tag :user_search, @search_param %>
        <div class="radio-field">
            <%= form.label :place_type %><br />
            <%= form.radio_button :place_type, 'all', :checked => true %> All<br />
            <%= form.radio_button :place_type, 'heaven' %> Heaven<br />
            <%= form.radio_button :place_type, 'earth' %> Earth<br />
            <%= form.radio_button :place_type, 'hell' %> Hell<br />
        </div>
            
        <div class="property-field">
            <%= form.label :property_type %>
            <%= form.select :property_type, options_for_select(["House", "Entire Floor", "Condominium", "Villa", "Townhouse", "Castle", "Treehouse", "Igloo", "Yurt", "Cave", "Chalet", "Hut", "Tent", "Other"]) %>
        </div>

        <div>
            <%= form.label :room_number, "Numbers of room" %>
            <%= form.select :room_number, options_for_select(0..5) %>
        </div>
        
        <div>
            <%= form.label :bed_number, "Numbers of bed" %>
            <%= form.select :bed_number, options_for_select(1..6) %>
        </div>
        
        <div>
            <%= form.label :amenities %><br />
            <%= form.label "Gym" %>
            <%= form.check_box :amenities, {multiple: true}, "gym" %>
            <%= form.label "Pool" %>
            <%= form.check_box :amenities, {multiple: true}, "pool" %>
            <%= form.label "Sauna" %>
            <%= form.check_box :amenities, {multiple: true}, "sauna" %>
            <%= form.label "Bakery" %>
            <%= form.check_box :amenities, {multiple: true}, "bakery" %>
        </div>

        <div>
            <%= label_tag :amount, "Price Range" %>
            <%= text_field_tag (:amount) %>
            <%= hidden_field_tag 'listing[min_price]', '0' %>
            <%= hidden_field_tag 'listing[max_price]', '0' %>
            <div id="slider-range"></div>
        </div>

        <%= form.submit "Filter", id: "btn-filter" %>
    <% end %>
  </div>
</nav>