<h1>User#show</h1>

<h1>User Profile</h1>
<ul>
    <li>
        <%= image_tag @user.avatar_url.to_s %>
    </li>
    <li>
        <%= @user.name %>
    </li>
    <li>
        <%= @user.gender %>
    </li>
    <li>
        <%= @user.birthdate %>
    </li>
    <li>
        <%= @user.email %>
    </li>
    <li>
        <%= @user.phone %>
    </li>
    <li>
        <%= @user.role %>
    </li>
</ul>
<%= link_to  "Edit", edit_user_path(current_user) %>

<h1>Reservations</h1>
<% @reservations.each do |booking| %>
    <ul id="reserv-lists">
        <li>
            <%= Listing.find(booking.listing_id).name %>
        </li>
        <li>
            <%= booking.start_date %>
        </li>
        <li>
            <%= booking.end_date %>
        </li>
        <li>
            <%= booking.total_price %>
        </li>
    </ul>
<% end %>
