<h1>Reservation Confirmation Page</h1>
<div class="list" style="border: 1px solid black">
    <div class="list-title">
        <span><%= @listing_param.name %></span>
        &middot;
        <span><%= @listing_param.place_type %></span>
    </div>
    <div class="list-info">
        <span><%= @listing_param.property_type %></span>
        &middot;
        <span><%= @listing_param.country %></span>
        &middot;
        <span><%= @listing_param.state %></span>
    </div>
    <div class="list-pricing">
        <span><%= @listing_param.price %></span>
        &middot;
        <span><%= @listing_param.description %></span>
    </div>
</div>

<div class="list" style="border: 1px solid black">
    <div class="list-title">
        <span><%= @reservation_param[:start_date] %></span>
        until
        <span><%= @reservation_param[:end_date] %></span>
    </div>
    <div class="list-info">
        <span><strong><%= @reservation_param[:total_price] %></strong></span>
    </div>
</div>

<%= form_for [@listing, @reservation], html: { id: "cardForm"} do |form| %>
    <%= label_tag "Credit Card Number" %>
    <div id="card-number" class="hosted-field"></div>

    <%= label_tag "Expiration Date" %>
    <div id="expiration-date" class="hosted-field"></div>

    <%= label_tag "CVV" %>
    <div id="cvv" class="hosted-field"></div>

    <%= hidden_field_tag "payment_method_nonce" %>
    <%= form.hidden_field :start_date, value: @reservation_param[:start_date]%>
    <%= form.hidden_field :end_date, value: @reservation_param[:end_date] %>
    <%= form.hidden_field :total_price, value: @reservation_param[:total_price] %>

    <div class="button-container">
        <%= form.submit "Confirm Reservation", disabled: true, class: "btn btn-primary", id: "submit-payment-btn" %>
    </div>
<% end %>

<% content_for :js do %>
    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>
    
    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
    
    <script>
        alert("test");
        var form = document.querySelector('#cardForm');
        var submit = document.querySelector("#submit-payment-btn");
        var authorization = '<%= @client_token %>';

        braintree.client.create({
            // Replace this with your own authorization.
            authorization: authorization
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                // Handle error in client creation
                return;
            }

            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {
                        'font-size': '14pt'
                    },
                    'input.invalid': {
                        'color': 'red'
                    },
                    'input.valid': {
                        'color': 'green'
                    }
                },
                fields: {
                    number: {
                        selector: '#card-number',
                        placeholder: '4111 1111 1111 1111'
                    },
                    cvv: {
                        selector: '#cvv',
                        placeholder: '123'
                    },
                    expirationDate: {
                        selector: '#expiration-date',
                        placeholder: '10/2019'
                    }
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                    // Handle error in Hosted Fields creation
                    return;
                }

                submit.removeAttribute('disabled');

                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            // Handle error in Hosted Fields tokenization
                            return;
                        }

                        // Put `payload.nonce` into the `payment_method_nonce` input, and then
                        // submit the form. Alternatively, you could send the nonce to your server
                        // with AJAX.
                        document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
                        form.submit();
                    });
                }, false);
            });
        });

    </script>
<% end %>